doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Crane Hire up to 50 Ton in Tauranga, Bay of Plenty and Waikato. Operator with over 40 years experience. No job too small.')
        meta(name='author', content='1494 Ltd')

        title SP Crane Hire - Bay of Plenty and Waikato
        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') SP Crane Hire
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#services') Services
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold Crane Hire up to 50 Ton
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5
                            | Based in Tauranga, servicing the wider Bay of Plenty and Waikato.
                        a.btn.btn-primary.btn-xl(href='#about') Find Out More

        // About
        section#about.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 Crane Hire up to 50 Ton. NZQA ticketed operator with more than 40 years experience.
                        hr.divider.divider-light
                        p.text-white-75.mb-4
                            | The right gear and the right expertise. Our team know how to put the work in.
                        p.text-white-75.mb-4
                            | No job too small.
        //                a.btn.btn-light.btn-xl(href='#services') Get Started!

        // Services
        section#services.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 At Your Service
                hr.divider
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-buildings.fs-1.text-primary
                            h3.h4.mb-2 Industrial
                            p.text-muted.mb-0 Beams, formwork, equipment lifts.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-building.fs-1.text-primary
                            h3.h4.mb-2 Commercial
                            p.text-muted.mb-0 High quality work and experience when it comes to the commercial industry.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-house.fs-1.text-primary
                            h3.h4.mb-2 Residential
                            p.text-muted.mb-0 Houses, sheds, pools, trees.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-currency-dollar.fs-1.text-primary
                            h3.h4.mb-2 At Great Rates
                            p.text-muted.mb-0 Competitive hourly, weekly & monthly rates.
                            

        // Portfolio
        #portfolio
            .container-fluid.p-0
                .row.g-0
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg', title='House Lift')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg', alt='House being lifted off of a truck into position by crane', width="650" height="350")
                            .portfolio-box-caption
                                //.project-category.text-white-50
                                    | Category
                                .project-name
                                    | House Lift
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg', title='Tree Lift')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg', alt='Tree being lifted off a truck by crane', width="650" height="350")
                            .portfolio-box-caption
                                //.project-category.text-white-50
                                    | Category
                                .project-name
                                    | Tree Lift
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg', title='Pool Lift')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='Pool liner being lifted over a house by crane', width="650" height="350")
                            .portfolio-box-caption
                                //.project-category.text-white-50
                                    | Category
                                .project-name
                                    | Pool Lift
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg', title='Commercial Site Work')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='Crane setup for work on a commercial construction site', width="650" height="350")
                            .portfolio-box-caption
                                //.project-category.text-white-50
                                    | Category
                                .project-name
                                    | Commercial Site Work
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg', title='Mulitple Buildings Lifted')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='Crane in centre of temporary buildings lifting another off a truck into position', width="650" height="350")
                            .portfolio-box-caption
                                //.project-category.text-white-50
                                    | Category
                                .project-name
                                    | Multiple Buildings Lifted
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg', title='Road Ready')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='Crane prepared for road travel', width="650" height="350")
                            .portfolio-box-caption.p-3
                                //.project-category.text-white-50
                                    | Category
                                .project-name
                                    | Road Ready

        // Call to action
        //section.page-section.bg-dark.text-white
            .container.px-4.px-lg-5.text-center
                h2.mb-4 Free Download at Start Bootstrap!
                a.btn.btn-light.btn-xl(href='https://startbootstrap.com/theme/creative/') Download Now!

        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0 Here to Help!
                        hr.divider
                        p.text-muted.mb-5
                            | Talk to us about your next project to see how we can help. Get in touch!
                .row.gx-4.gx-lg-5.justify-content-center.mb-5
                    .col-lg-6

                        
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        i.bi-phone.fs-2.mb-3.text-muted
                        p 
                            | Bookings / Crane Operator: Steven <a href='tel:022-318-5878'>(022) 318 5878</a>
                        p 
                            | Bookings / Admin: Dion <a href='tel:027-226-1894'>(027) 226 1894</a>
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        i.bi-envelope-at.fs-2.mb-3.text-muted
                        p 
                            | Email:<a href='mailto:dion@spcranehire.co.nz?subject=Crane%20Hire%20enquiry'>dion@spcranehire.co.nz</a>
        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2023 - SP Crane Hire Limited

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')
